.page-content {
    color:rgb(0, 0, 0);
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

};

form.content-form {
    color: rgb(231, 14, 14);
    font-size: medium;
    display: flexbox;
    justify-content: center;
};

